body{
    background-image: url(https://img9.uhdpixel.com/wp/u/5/moonbyul-solar-wheein-hwasa-mamamoo-u520.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;


}
}
a {
    text-decoration: none;
  }
  
  nav {
      font-family: monospace;
      position: fixed;
  }
  
  ul {
    background: linear-gradient(-90deg,silver, gray);
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  li {
      color: #fff;
    background: linear-gradient( darkgray,silver, gray);
      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color: #fff;
  }
  
  li:hover,
  li:focus-within {
      background: gray;
      cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
      background: gray;
      visibility: hidden;
    opacity: 0;
    min-width: 5rem;
      position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
      left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
  }
  #Hlink:hover {
      background-color: rgb(252, 227, 0);
  }
  #Wlink:hover {
    background-color: White;
    color: black;
  }  
  #Mlink:hover {
    background-color: maroon;

  }
  #Slink:hover {
    background-color: navy;

  }
  .Bio{
    align-items: left;
  }
  .Bio p{
    background-color: gray;
    max-width: 75%;
  }
  .Bio img{
    padding-right:10px;
    float: left;
    height: 100px;
  }
  #Weein{
   
  }
  #Moonbyul{
    
  }
  #Solar{
    
  }
  .space{
    padding:300px;
  }
